flow.json
[
    {
        "id": "d97e65e44eec16d0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "serial-in2",
        "type": "serial in",
        "z": "d97e65e44eec16d0",
        "name": "Read COM2",
        "serial": "serial-com2",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "debug1",
                "50103a7801e594b3",
                "b6470a2fbd45a5c6"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "d97e65e44eec16d0",
        "name": "Received on COM2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "serial-out1",
        "type": "serial out",
        "z": "d97e65e44eec16d0",
        "name": "Write COM1",
        "serial": "serial-com1",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "50103a7801e594b3",
        "type": "ui_gauge",
        "z": "d97e65e44eec16d0",
        "name": "",
        "group": "dd4567b9.6a4c18",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 320,
        "wires": []
    },
    {
        "id": "b6470a2fbd45a5c6",
        "type": "ui_chart",
        "z": "d97e65e44eec16d0",
        "name": "",
        "group": "dd4567b9.6a4c18",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "d97e65e44eec16d0",
        "name": "Clock",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "7881fa133223c1b1"
            ]
        ]
    },
    {
        "id": "7881fa133223c1b1",
        "type": "function",
        "z": "d97e65e44eec16d0",
        "name": "RandomNumberGenerator",
        "func": "msg.payload = Math.floor(Math.random() * 100);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "serial-out1"
            ]
        ]
    },
    {
        "id": "serial-com2",
        "type": "serial-port",
        "name": "COM2",
        "serialport": "/dev/ttyCOM2",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "serial-com1",
        "type": "serial-port",
        "name": "COM1",
        "serialport": "/dev/ttyCOM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "dd4567b9.6a4c18",
        "type": "ui_group",
        "name": "Random Data",
        "tab": "fe9b4293.8df8e",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "fe9b4293.8df8e",
        "type": "ui_tab",
        "name": "Main Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]